@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Azure Video Zoom</h1>
    <p class="lead">Azure Video Zoom is an API that allows for you to create a video repository that is indexed and close captioned and allows for rapid queries. The results of the queries create video files which have HL applied to non applicable areas of the video so one can quickly skip ahead in the video.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
</div>